/clientes_segmentacion.csv
/clientes_segmentados.csv
/perfil_clusters.csv
/comparacion_algoritmos.csv
/churn_ciclos.csv
/comparacion_modelos_churn.csv
/predicciones_churn.csv
/cv_final_detalle_por_fold.csv