/01_missingness.png
/02_distribuciones_numericas.png
/03_correlacion.png
/04_categoricas.png
/05_uso_vs_recencia.png
/06_seleccion_k.png
/08_churn_estado_ciclo.png
/09_churn_missingness.png
/10_churn_distribuciones_por_label.png
/11_churn_correlacion.png
/07_curvas_roc.png
/12_matriz_confusion.png
/13_importancia_features.png
